<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/app.min.css">
</head>
<body>
<div data-anijs="if: click, on: h2, do: fadeIn animated, to: 'h2:before'">
    <h2>villas</h2>
    <h2>collections</h2>
    <h2>destinations</h2>

    <section id="reasons">

        <h2>3 reasons</h2>

        <div class="list_container">

            <svg class="icon">
                <use xlink:href="img/icons.svg#logo-icon"></use>
            </svg>
            
            <ol>
                <li>PROFESSIONALLY INSPECTED VILLAS</li>
                <li>24/7 GUEST SUPPORT</li>
                <li>Best PRICEs on high quality properties</li>
            </ol>
            
        </div>

    </section>

    <footer id="main_footer">

        <div class="footer_btm">
            <nav>
                <a href="#">mykonos</a>
                <a href="#">beirut</a>
                <a href="#">cairo</a>
                <a href="#">london</a>
            </nav>
            <div class="badges">
                <img src="img/iso.png" alt="iso standard">
            </div>
            <div>© 2017 Copyright Divine Property.</div>
            <div>Designed & Developed by <a href="#"><img src="img/dev-logo.png" alt="developers"></a></div>
        </div>

    </footer>
</div>
<script src="js/app.min.js"></script>
</body>
</html>