<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.css">
    <link rel="stylesheet" href="css/app.min.css">
</head>
<body>
<h2>villas</h2>
<h2>collections</h2>

<section id="destinations">

    <svg class="icon icon-logo">
        <use xlink:href="img/icons.svg#logo-icon"></use>
    </svg>

    <h2>destinations</h2>

    <div class="owl-carousel owl-theme">

        <div class="carousel_item">
            <img src="img/slide-3.jpg" alt="">
            <div>Mykonos</div>
            <span></span>
        </div>
        <div class="carousel_item">
            <img src="img/slide-3.jpg" alt="">
            <div>Mykonos</div>
            <span></span>
        </div>
        <div class="carousel_item">
            <img src="img/slide-3.jpg" alt="">
            <div>Mykonos</div>
            <span></span>
        </div>
        <div class="carousel_item">
            <img src="img/slide-3.jpg" alt="">
            <div>Mykonos</div>
            <span></span>
        </div>
        <div class="carousel_item">
            <img src="img/slide-3.jpg" alt="">
            <div>Mykonos</div>
            <span></span>
        </div>

    </div>

    <div class="hover_control_left"></div>
    <div class="hover_control_right"></div>
    <div class="timeline"></div>

    <div class="actions">
        <button>
            <svg class="icon ">
                <use xlink:href="img/icons.svg#photos-icon"></use>
            </svg><span> View list destinations</span>
        </button>
        <button>
            <span>View map </span><svg class="icon ">
            <use xlink:href="img/icons.svg#point-icon"></use>
        </svg>
        </button>
        <button>
            <span>Draw </span><svg class="icon ">
            <use xlink:href="img/icons.svg#draw-icon"></use>
            </svg>
        </button>
    </div><!--  /.actions  -->

</section>

<section id="reasons">

    <h2>3 reasons</h2>

    <div class="list_container">

        <svg class="icon">
            <use xlink:href="img/icons.svg#logo-icon"></use>
        </svg>

        <ol>
            <li>PROFESSIONALLY INSPECTED VILLAS</li>
            <li>24/7 GUEST SUPPORT</li>
            <li>Best PRICEs on high quality properties</li>
        </ol>

    </div><!--  /.list_container  -->

</section><!--  /#reasons  -->

<footer id="main_footer">

    <div class="reach_us">
        <div class="container">
            <div class="logo_footer">
                <span>
                    <svg class="icon">
                        <use xlink:href="img/icons.svg#logo-icon"></use>
                    </svg>
                </span>
            </div><!--  /.logo_footer  -->
            <div class="social">
                <h6>follow us</h6>
                <ul>
                    <li><a href="#">
                        <svg class="icon">
                            <use xlink:href="img/icons.svg#twitter-icon"></use>
                        </svg>
                    </a></li>
                    <li><a href="#">
                        <svg class="icon">
                            <use xlink:href="img/icons.svg#facebook-icon"></use>
                        </svg>
                    </a></li>
                    <li><a href="#">
                        <svg class="icon">
                            <use xlink:href="img/icons.svg#googleplus-icon"></use>
                        </svg>
                    </a></li>
                    <li><a href="#">
                        <svg class="icon">
                            <use xlink:href="img/icons.svg#share-icon"></use>
                        </svg>
                    </a></li>
                </ul>
            </div><!--  /.social  -->
            <div class="newsletter">
                <form action="/" method="get">
                    <label for="email">Join our newsletter<br>
                        <input id="email" type="email" placeholder="enter your email"></label>
                    <button>
                        <svg class="icon ">
                            <use xlink:href="img/icons.svg#arrowr-icon"></use>
                        </svg>
                    </button>
                </form>
            </div><!--  /.newsletter  -->
        </div><!--  /.container  -->

    </div><!--  /.reach_us  -->

    <div class="more_links">

        <div class="container">

            <h5>About Divine Property</h5>

            <nav>
                <a href="#">home</a>
                <a href="#">about</a>
                <a href="#">buy</a>
                <a href="#">rent</a>
                <a href="#">manage</a>
                <a href="#">destinations</a>
                <a href="#">contact</a>
            </nav>

        </div><!--  /.container  -->

    </div><!--  /.more_links  -->

    <div class="footer_btm">
        <div class="container">
            <nav>
                <a href="#">mykonos</a>
                <a href="#">beirut</a>
                <a href="#">cairo</a>
                <a href="#">london</a>
            </nav>
            <div class="badges">
                <img src="img/iso.png" alt="iso standard">
            </div>
            <div class="copy">© 2017 Copyright Divine Property.</div>
            <div class="design">Designed & Developed by <a href="#">
                <svg class="icon ">
                    <use xlink:href="img/icons.svg#design-logo"></use>
                </svg></a></div>
        </div><!--  /.container  -->
    </div><!--  /.footer_btm  -->

</footer>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
<script>

    var owl = $('.owl-carousel');
    owl.owlCarousel({
        loop:true,
        center:true,
        stagePadding: 12,
        autoplay:false,
        autoplayTimeout:1000,
        autoplayHoverPause:true,
        dots: false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:2
            },
            980:{
                items:3
            },
            1400:{
                items:5
            }
        }
    });

    var $right = $('.hover_control_right');
    var $left = $('.hover_control_left');
    var intID;

    $right.on('mouseover',function(){
        intID = setInterval(function () {
            owl.trigger('next.owl.carousel', [300]);
        }, 1000);
    });

    function stop(int) {
        clearInterval(int);
    }

    $right.on('mouseout', function () {
        stop(intID);
    });

    $left.on('mouseover',function(){
        intID = setInterval(function () {
            owl.trigger('prev.owl.carousel', [300]);
        }, 1000);
    });
    $left.on('mouseout',function(){
        stop(intID);
    });
</script>
<script src="js/app.min.js"></script>
</body>
</html>