<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/app.min.css">
    <title>Document</title>
</head>
<body>

<div class="menu" id="main_menu">

    <div class="menu_head">

        <div class="logo">
            <svg class="icon logo_icon">
                <use xlink:href="img/icons.svg#logo-icon"></use>
            </svg>
            <svg class="icon logo_text">
                <use xlink:href="img/icons.svg#divine-text"></use>
            </svg>
        </div>

        <a class="call_us" href="callto:899998887878">
            <span>Need Help? Call us +302109888685</span>
            <svg class="icon ">
                <use xlink:href="img/icons.svg#callus-icon"></use>
            </svg>
        </a>

        <div class="close_menu">
            <svg class="icon ">
                <use xlink:href="img/icons.svg#close-icon"></use>
            </svg>
        </div>

    </div>

    <nav class="pages menu_links">

        <h6>Divine Pages</h6>

        <ul class="parent">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Buy</a></li>
            <li><a href="#">Rent</a></li>
            <li><a href="#">Manage</a></li>
            <li><a href="#">Destinations</a>

                <ul class="child">
                    <li><a href="#">mykonos</a></li>
                    <li><a href="#">london</a></li>
                    <li><a href="#">santorini</a></li>
                    <li><a href="#">paros</a></li>
                    <li><a href="#">syros</a></li>
                    <li><a href="#">arachova</a></li>
                </ul>
            </li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

</div>
<script src="js/app.min.js"></script>
</body>
</html>