// According to design mockups:
// $font-primary corresponds to Gill Sans MT
// $font-secondary corresponds to Proxima Nova A (used for headings, buttons etc.)
$font-primary: "Century Gothic", "Roboto Light", sans-serif
$font-secondary: "Century Gothic", "Roboto Light", sans-serif

// COLORS
$dark-gold: #a08f6e
$white: #fff
$black: #000
$cod-gray: #1c1c1c
$mine-shaft: #2b2b2b
$mine-shaft-light: #333333
$gray: #272727

// COLOR USAGE

$btn: $mine-shaft
$footer: $cod-gray
$footer-btm: $gray
$logo-text-fill: $mine-shaft-light
$logo-img-fill: $mine-shaft
$section-header-text: rgba($black, .1)
$img-sub-frame: $dark-gold

// BREAKPOINTS
$atPhoneMd: 480px
$atPhoneLg: 640px
$atTablets: 768px
$atLaptops: 980px
$atDesktops: 1400px
